# ============== #
# Unity Временные файлы #
# ============== #
[Ll]ibrary/
[Mm]emoryCaptures/
[Logs]/
[Log]/
[Oo]bj/
[Build]/
[Builds]/
[Cc]ache/
[Mm]etadata/
/Assets/AssetStoreTools*

/Assets/Plugins/WebGL/WebDriver*

/[Bb]uild/
/[Builds]/

.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


sysinfo.txt
CrashReporter/
